@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(accessor.HttpContext.Session.GetString("useremail")))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else
{
    <partial name="~/Views/Shared/_loginPageView.cshtml"/>
}

